<!DOCTYPE html>
<html>
  <head>
    <title><%= mainTitle %></title>
    <h1><%= mainTitle %></h1>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>