<form id="signupForm" class="" method="POST" action="/register" data-uncheck="1" data-echeck="1">
<div class="control firstName">
    <label for="signupFirstName">First Name</label>
    <input type="text" id="signupFirstName" name="name.first" required="required" value="" data-err-req-message="Please enter your First Name." maxlength="50" />
</div>
<div class="control lastName">
    <label for="signupLastName">Last Name</label>
    <input type="text" id="signupLastName" name="name.last" required="required" value="" data-err-req-message="Please enter your Last Name." maxlength="50" />
</div>
<div class="control email">
    <label for="signupEmail">Email</label>
    <input type="text" id="signupEmail" name="email" required="required" value="" data-err-req-message="Please enter Email." />
</div>
<div class="control password">
    <label for="signupPassword">Password</label>
    <input type="password" id="signupPassword" name="password" required="required" data-err-req-message="Please enter Password."/>
</div>
<div class="control dob">
    <label for="signupDobMonth">Date of Birth
    <p>
        <input type="text" maxlength="2" name="birthMonth" placeholder="MM" id="signupDobMonth" required="required" pattern="^((0?[1-9])|(1[0-2]))$" value="" data-err-req-message="Please enter Birth Month" data-err-patn-message="Please enter valid month"/>
        <input type="text" maxlength="2" name="birthDay" placeholder="DD" id="signupDobDay" required="required" pattern="^((0?[1-9])|([1-2][0-9])|(3[0-1]))$" value="" data-err-req-message="Please enter Birth Day" data-err-patn-message="Please enter valid day"/>
        <input type="text" maxlength="4" name="birthYear" placeholder="YYYY" id="signupDobYear" required="required" pattern="^((19[0-9][0-9])|(20[0-9][0-9]))$" value="" data-err-req-message="Please enter Birth Year" data-err-patn-message="Please enter valid year"/>
    </p>
</div>
<div class="control gender">
    <label for="signupGender">Select Gender</label>
    <select name="gender" id="signupGender" required="required" data-err-req-message="Please select Gender.">
        <option value="" selected="selected" disabled="disabled">Please select</option>
        <option value="Female"  >Female</option>
        <option value="Male"  >Male</option>
        <option value="NotApplicable"  >Unspecified</option>
    </select>
</div>

<!-- <input type="hidden" name="provider" id="signupProvider" value="MySpace" />
 --><input type="hidden" name="token" value="" />
<!-- <input type="hidden" name="externalId" id="signupExternalId" value="" />
<input type="hidden" name="externalImage" value="" /> -->
<p></p>
<div class="formFooter">
    <div>
        <input type="checkbox" id="signup_privacyAgree" required="required" />
        By checking the box and clicking "Join", I understand that I am joining PartyUp, and I have read and accept the <a href="/pages/terms" target="_blank" id="signup_terms">Terms of Use Agreement</a> and consent to the <a href="/pages/privacy" target="_blank" id="signup_privacy">Privacy Policy</a>.
    </div>
</div>
</form>