/*body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}*/
#beta {
/*    position: absolute;
*/    top: 0;
    bottom: 0;
/*    margin-top: auto;
    margin-bottom: auto;*/
/*    height: 66%;
*/  width: 650px;
    margin-left: 10%;
    color: #fff;
}
.splashbg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#beta>h1 {
    position: absolute; 
    top: 20px;
    right: 20px;
    line-height: 1.0;
    text-align:right;    
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    display: block;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}
#beta>h3 {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 200;
}
.mobile #beta>h3 {
    font-weight: 400;
}
#beta>p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 200;
}
#beta>h1+p {
    margin-top: 40px;
}
#beta button {
    font-size: 32px;
    font-weight: 100;
    line-height: 2;
    height: auto;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 147px;
    background-color: #008DDE;
    color: #FFF;
    border: 1px solid transparent;
    cursor: pointer;
}
#beta button:hover {
    background-color: #0094E0;
    border-color: #0078BD;
    background-image: -webkit-linear-gradient( #0094E0, #0084DA);
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    color: #FFF;
}
#beta button:active {
    background-color: #017FC1;
    box-shadow: none;
    background-image: -webkit-linear-gradient( #0084DA, #0094E0);
}
.windows #beta button {
    font-weight: 200;
}
#beta button.secondary {
    margin-left: 20px;
}
#beta #content>h1 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}
.mapcanvas-li {
 /* top: 150px;
  right: -100px;*/
  position: absolute; 
    top: 150px;
    right: 150px;
}
.mapcanvas-nli {
  top: 150px;
  left: 10px;
}
#beta .thirdParty button {
width: 100%;
height: 40px;
margin-bottom: 10px;
font-size: 14px;
text-align: left;
border: 1px solid transparent;
border-radius: 2px;
color: #FFF;
cursor: pointer;
font-weight: 500;
}
.facebook {
background-color: #3B5998;
}
.facebook_24 {
display: inline-block;
width: 24px;
height: 24px;
background: url("/images/facebook.png");
}
.dialog {
z-index: -1;
opacity: 0;
position: fixed;
top: -200%;
left: 50%;
background-color: #FFF;
border-bottom: 1px solid #CCC;
box-shadow: 0 1px 100px 10px rgba(0,0,0,.35);
transition: opacity .4s;
-ms-transition: opacity .4s;
-moz-transition: opacity .4s;
-webkit-transition: opacity .5s;
max-width: 300px;
display: block;
border-radius: 10px;
}
.dialog.open {
z-index: 7;
opacity: 1;
top: 50%;
}
#noticeBoard {
    margin-left: -375px;
margin-top: -278px;
max-width: 750px;
box-shadow: 1px 1px 6px 0 #CBCBCB,-1px -1px 6px 0 #CBCBCB;
border-radius: 5px;
left: 50%;
}
.sidebar-nav {
    padding: 2px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

.sidebar-info {
    padding: 2px 0;
}

.sidebar-info-fixed {
    float: right;
    position:fixed;
    top:60px;
    width:21.97%;
}

.nospace {
    margin: 0;
    padding: 0;
}
.input-mysize { 
    width: 300px
 }

.login_logo{
    text-align: center !important;
    padding-top: 55px;
    color: #333;
    font-size:55px;
    font-weight:bold;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
    letter-spacing:1px;
}

.center{
    text-align: center;
}