/* beta */.close_14 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAmklEQVR42qWSgQ2AIAwEO4IjsAGruAFugiM4kiM4ghvABpXHGj/RoNFPPpjyZ5pSUVW2K56KVz21WM1xlqFB28rIMMjQswze2zOllDSEUM9GLYMR6x+qARFR7z2CML5Rq3ekUXgQHMQJ849IM0AWwxeI9QtcvrT6ejgxxstwXHFuPQdDlu1+LQDD+WHl+iN/t+Rj8cyDsFrH2Q03TIaxil3YIAAAAABJRU5ErkJggg==");
}
.close_14: hover {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAApElEQVR42qWSwQ2EIBBFpwRL4EQ1HCzBE3VYgh1hARwswRLoYHb+BjY/YYNGDy/A+H4g44iq/sg5O2MzTkMrR605djm0QBxQ4FCQQ9e0cHuegpSShhC+66BWkEFwaxIEEVHvPUSAPWr4xreuQo1gESvv+UawCx26cBciXgWPJ0+93ZwYY9ccZ5TR7+BQdaeHA9CPXLkYubn5/4Z8NXZuRK1N7H4A4doyeCIlVJIAAAAASUVORK5CYII=");
}
.x_14 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzRFMTk4QzBGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzRFMTk4QzFGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozNEUxOThCRUYwNjUxMUUxODM1NkY5MzBENEJFMDI0QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozNEUxOThCRkYwNjUxMUUxODM1NkY5MzBENEJFMDI0QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhA82RUAAAGYSURBVHjadJK9SgNBFIXvbnaXGLIJLAmEWGSXNCrYCSI2FgEFwcJCsbLzAezEB7DSB7Cz08bCn85WREgnaBOSEAhsk0CyEEN+PfeyI5ugFz5m7sycmTtnRiuXyxQJB+yAA+ABC/jgCdyCplpoRETr4BJs0mwsgS1wDM7BIw/q4eQauGfRdDolRoXKwSrSu3ADEdrgAuR5IJvNkuM4NB6PaTKZUDwep1wuR5ZlsXgBS67AMpe6AUq8azqdpkKhQKPRSIS9Xk9y27ZF2Gg0lA8nLNzlTNM06vf71O12KZVKkeu6NBwOKZFI0GAwkPFI7HGpKypjYbValUWmaYqIxbVajVqtlmwexqI+56BMRhZIX9f1mTFlzqdK+IRisSh34vKCICDDMMjzPMpkMlG3myx8VrazAclk8re8SqUiZbOYN4vEA5vzBl5QSolPYAG72ul0pLx6vS7P0263lYg71ywMwBmbhFPzbAJHLBaTlkv2fV/d9xvNKfhS5vCH3Qevf5kT8oH0ENzM/9V3fh+wDY6AC8z/PvmPAAMAChyfbQ32NJkAAAAASUVORK5CYII=");
}
.x_14: hover {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzRFMTk4QjhGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzRFMTk4QjlGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQzZBNkUyNUYwMDcxMUUxODM1NkY5MzBENEJFMDI0QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQzZBNkUyNkYwMDcxMUUxODM1NkY5MzBENEJFMDI0QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuA4aV4AAAGtSURBVHjadJJPSwJhEMZnV0tWDDT/gYuwe5EKOigLS3jpIBQEHToUnbr1AbpFH6BTfYBu3erioT+3rhliiBDUwZuykCIhJK6oaM+87soWNPDjZd6d553h2ZGKxSJ5Yhlsg32gg0XwCR7ADbDcQr9HZIILkKffsQI2wRE4A/d8KTsfDcCt85PJhBg3ptOpyHGuI711HhDCJXAOUpIkka7rlE6naTQa0Xg8plAoRJlMhhRFYbGCukuwyqNugAK/mkwmKZfL0XA4FMJut0vZbJbi8TgFg0Gq1WqEx9mHYxbucGvu1uv1qN1uUyKRIMMwqN/vUyQSIdu2qdVqiRondnnUNa+wXC6LokAgIESDwYAqlQo1m02vUJW99rERPp9P4AYXc+4RkWvOuysKh8NkmibFYjExXqfTEZ15bE3TRI0TFgsfXSEbEI1G5+OVSqX52GyQR3jH5ryAJ1mWC2wMC9hRFnBUq1VSVZUsy3LH/QJXLPwGp45JqUajMVsp/2ypeOR6vS5EwMbVCfhwzXkFe+AZnYnxmsM5zjekB+D6766W+f+ALXAINLDw35L/CDAA85+ks4Q/I3IAAAAASUVORK5CYII=");
}
.x_14: active {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzRFMTk4QkNGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzRFMTk4QkRGMDY1MTFFMTgzNTZGOTMwRDRCRTAyNEEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozNEUxOThCQUYwNjUxMUUxODM1NkY5MzBENEJFMDI0QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozNEUxOThCQkYwNjUxMUUxODM1NkY5MzBENEJFMDI0QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PicDmfUAAAHSSURBVHjadJLLaxpRFMY/R6vEB4IrTRCjq06hC6WhRDcFAwkIswiSkFV23XTXXelaumr/h+7qRiSPhX9AkYArKxEEFcTAEER8LMR3vnNRMUIv/Jh7zz3fmXO+GUsmk8HW8pEzckHCxE5Mckf+kKd1om1L9JH8JAm8Xm/JJ3JNvpNbCWqryw8kt1wuE/P5HIvFYqOSvcR4957H7KqAEnrID7JvtVoRi8Wg6zrG4zEmkwl8Ph/i8TjcbreI95j3i+jS6jE5karhcBipVAqj0UiJTNNU51AoBI/Hg0KhABYXHz6LMCWvtlgs6Ha7aDQaiEQiMAwDg8EAgUBAPZvN5vbchrT6TvWsaeh0OsjlcqjX63C5XEo0HA6Rz+dRqVTkbWvhgbbjoLq02Wyvzna7fTdNmfO4ds/v9yOdTquZpL1WqwWn06najkaj224/ifBednQMXq8XwWBw0142m1Vti1jmlpzVurEmk8lnbo44Y6TX6ymDqtUqarUaZrMZ2u22KlQqlTCdTsXELvO/yDBD8k1MYiv75XJZOexwOFTpfr+PYrGozGN8xNBXUl2bUyLnvPgrZkjSxgTuJca7fzxekt+7/+qDfB9ySq7IIXnzv5/8RYABAHO+r+Lj1msnAAAAAElFTkSuQmCC");
}
.facebook_24 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NUZFNjc0NUI5ODgwMTFFMUIzMTFFRDhFRUNDQTVDNjMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NUZFNjc0NUM5ODgwMTFFMUIzMTFFRDhFRUNDQTVDNjMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1RkU2NzQ1OTk4ODAxMUUxQjMxMUVEOEVFQ0NBNUM2MyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1RkU2NzQ1QTk4ODAxMUUxQjMxMUVEOEVFQ0NBNUM2MyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pqg5E60AAAC2SURBVHjaYvz//z8DLQELGXq0gJgTif8CiJ/iVA3yAZHYFYgf/scE7fj0EesDMyDeAsRspHqXiUh1veQYTkocaKHxfwHxeiD+CMSn8OokMvw/oIX7BGLjjonM1Ped2nFAk3xgAMRzoGweNDkPIBZC4jfhyguMeHKyDRAfJsKRf4GYF1ewUSOIbuKLE2pYcIEayfQhKcUDNZIpw6BJpqMWjFpAOWAkslWhi1aj4a/oybCAbAAQYAAEQQQmZKPNuwAAAABJRU5ErkJggg==");
}
.twitter_24 {
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NkQxMjFGREUwOUM3MTFFMkI0NUE5QkM5MkVBM0UxMkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc4REIzN0EwQTA0MTFFMkI0NUE5QkM5MkVBM0UxMkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2RDEyMUZEQzA5QzcxMUUyQjQ1QTlCQzkyRUEzRTEyRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2RDEyMUZERDA5QzcxMUUyQjQ1QTlCQzkyRUEzRTEyRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjwaJvMAAAHzSURBVHjarNbfS1NhGMDx/WIhzcFoynJkUbjoLhRWXSiCV9145UUhgffdlH+AF9F/0EU30k9QUPt1XU4EMSi6CqWVThEbdNGYk1XY6vh94hk7rbNz3rU98HFHeM+e53l9z3P0W5blayFO4SpGEcdHzGMO33RNBGd8kgjDOK/Xpi7gHX5bf0cFMziLETzDLbkhgoze1GuYpA9Zyz1K+rmC7gBtRdGDfjxF2mO7griBlMe6Tuwhi0mpLolPtkryuI5wg24S+GyZxQF+4KbcGMWrugWy76u4gjj8tkQph79LoyhgTO4L0VZJT8qIrW0/Lqk1vMQbbCKGnwgbnMoPyPy5IlsIMUwbVCoV7ujJMgnZlS7pSA5DAne0gq8eFUo3J/RAmEQeZbkI6YN1Tk/dL197Y6P64EpHBTy2Hd12hYyc9eovAf18hCdt7mYLr2tpa8f2GG5jt4nj6xb37I9FwFaB7GUOy7aB+L8hj8xD3b5/OgrihdWeeFA/UerHy0m8bTFJzmk4O80ySXZX59n3JpMUcdlpRrq9Ck5jtokkZYw3+j75EXCYzvLCWtDpaxJfcM3tHSaTYQiD6NARk9YpYRqLmMKq26KQzqMjmMDxJhIs4T6eY99rsd/2z4kM1wHt8CKSOKrTo6Jftq2VS5L3KJpWdSjAALebOa/wFrEQAAAAAElFTkSuQmCC");
}
.myspaceclassic {
    display: inline-block;
    width: 29px;
    height: 16px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAB0AAAAQCAYAAADqDXTRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Rjc4REIzN0QwQTA0MTFFMkI0NUE5QkM5MkVBM0UxMkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc4REIzN0UwQTA0MTFFMkI0NUE5QkM5MkVBM0UxMkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGNzhEQjM3QjBBMDQxMUUyQjQ1QTlCQzkyRUEzRTEyRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGNzhEQjM3QzBBMDQxMUUyQjQ1QTlCQzkyRUEzRTEyRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjwdqZEAAAGzSURBVHjatJTPK0RRFMfvDEYiipXyI1KzwsKWGhFSFrKxFysbFv4DRVYiGRulSE0RCotJGlmh8StlUiYsNGGUxgjj+t46rzmuO7Ng3rc+88453zv33Pfuu88hpRwSQhSBS7AK+kEvKAXXYBb4QDYYBD2gDDyATTAOXsEwKAQxMAneRVINoIviAyGTioATadYE8KfwDkEBCLJaBxCMKebNCcMkqvkuiBu8BAiAY63eCrpZvqQ13WBen95UrbaaBjaDF+bFQBt5OWCHeaMgny00CkporKrfUv0eVPGmqoFbW+Ey86c1r5N5XsMdNVLNw2rzquZkmx2il4kryuItzYuw2EFXL6u109XDamvqhzd9Fr+VxeJHzXMaxquFnVKsToALtFD+BAKp/vgfJYCf4howANyUh60nl+mmSivgi+IRUEyxuktpV9N9sEdxOdsiX7p9+Yv0eWa0/AoETYNzDZO50kzM80/NWwc3LN8GcStR39MmmjxqaDoGFig+17wL9maGNO8N3IEKyo9+uNqBzxR5IEwfhA9Qx307XiSlelBJ8Rkh+OO1Q7W0XeqILFpHxdK3AAMANzE8dyAew7AAAAAASUVORK5CYII=");
}
.myspaceLogo {
    display: inline-block;
    width: 91px;
    height: 14px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAFsAAAAOCAYAAABAdWDdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NEQ0QzNDRThEQjVBMTFFMUE4NEU4RUNCMzc2RjFBM0EiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NEQ0QzNDRTlEQjVBMTFFMUE4NEU4RUNCMzc2RjFBM0EiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBMjU2REVBRkRCNTkxMUUxQTg0RThFQ0IzNzZGMUEzQSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBMjU2REVCMERCNTkxMUUxQTg0RThFQ0IzNzZGMUEzQSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmClNRgAAAQWSURBVHja1FhxRNxRHP/VzXFExHHEMeKIaOLmiIibiIiIODY3RzOa0TQRN6MZsVlubppNcylNU2KzbDbNxizNzdKRpjSlcxNN02l++758Xvv23fu1mv64ffn0fu97n9/3vfd93/e+319Ftm1bR5ASQh+hhpAhXCF8xW+9hDJCP3jNBD/hJeEhIU9oIIQJFYRPhBsEL6ELNq4SvrHx2gh1hDnCbYwbJZQS1ghThGfgdsLuEOYWIQTBe0x4bVhPFXjqvY/g5WHrB+ES46p5tmMO3wkzGHuOccoZZ5nwhjACm5alnG2Ai3CT8IEwRvBBn7L3y1v2zhJ0Dwg7gpckxO0/5TPBQ1hEv0PMIw19F6HFNksK3Gn0bxFWDLw7wvZFwrbgqH4fnjcYt97BpuLHwGkg5AwcNS/vblDTnwCcqox348V28cIk9BsGYz7h7C1CD6GZMC64aiFNhATTRcG3MQ+9QD/jBNiGKH4ZoY4wCEdwZyt5RWgEZ4Dpz4IbYrqnhDDsDDO9dnYF1qRkFNwG2N3Gs59xeuCTGgSjDe6us8eEQ4JigjZ2VXFnhV5NyC2cHWcOc7PdHhORNcsi0cdOQ7XY8DT6ORblptM4zU6LW/yWErZSbHNdgjspnD3IIlSOeRJtr8May7EuBV8x7lcuLnYPatH9C4QsntW9dW7vPvot79lzHvenkneCN4PWjXt1Av0I2ha0T9COsNywSojjHpXyyDCne2grsb4a9O8SfgrufdEPoe03jPUFbR1adc/HGBrhL9du/sCRWhf3n0IbdrUH96rWl+Aoe8Uu6shudIi4dqHXV0mC3Xk25uJlkV7F8khUnK4tdmfqcWKGCKxm7/AcETFwa0Vkrzusy3RKD5K2YkTcGcJ5RC7PvuXI/G7oagnzhAHCIiqO45IpRIoaN4FoWEDVYiECVdSdIpxGVHrALWV2ag22q9FmEX3L6AcN3JDoZxz0XLS9a4QiBwypXelk3l9E8ukyZFSPISNvGhLkv0a2hQTNpZf9FkU+4flAJ2w/G0ediFbGq2LzTkLXwaqJMOOGsCYe2TG21nqRwIdxLzeBk0My1xwPcphfJ0hZYVwmzBuOQcTheLQeo7N9omwMMv0mS2pJtDaOMB9Hz2MenB12PfmYE9JsnDS7CpaEs12iqpoVlU9SJNIt8EfZJo9rZ8taM+7g7FYHZzcfo7MtTFIvmutVGfdcbMYLVhHwcbrFKRxHBFoi9ySYvRyqsHpDnW0hCFdEJXZdVDPqxKyKk682o1Q7u9CQYiWhEydgKNlMm1phKANNqDzC/HwsaTvBizp7n/6EVVjixie9hU9nJ8kc0t7CIXlzR5jjGnCQZFmJvCfFBebsMP6/smaoy/97KbTIDuBjZ8LwsfE3yaAUzBaqs38JMAApNEWYJQy8xgAAAABJRU5ErkJggg==");
}
form select {
    display: inline-block;
    width: 8px;
    height: 6px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QkM4MDlEOEUxMTE1MTFFMkFCNjFENkJEOURCMTYwN0IiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QkM4MDlEOEYxMTE1MTFFMkFCNjFENkJEOURCMTYwN0IiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2RTUyQjI0MTEwQzkxMUUyQUI2MUQ2QkQ5REIxNjA3QiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2RTUyQjI0MjEwQzkxMUUyQUI2MUQ2QkQ5REIxNjA3QiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkTJP14AAABrSURBVHjaYpwxY4YoAwPDUiBOBOKnDBAgDcSLgDiCBUisAGInIN4LxLZQBSC2OkgOpKAViG2gAtuhCkDsXyA5JiCxD4hDgfgvEBtD8V+o2D4mqI5NQJzOgADpUDEGFiTBuUAsisQGA4AAAwDlYROryi75kQAAAABJRU5ErkJggg==");
}
.classicnav a i {
    display: inline-block;
    width: 12px;
    height: 17px;
    background-image: url("data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAYAAADpPU2iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNkQ0NTJFQjU3ODAxMUUyQUUwRUQ5N0U1MzRGMzVFMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNkQ0NTJFQzU3ODAxMUUyQUUwRUQ5N0U1MzRGMzVFMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA2RDQ1MkU5NTc4MDExRTJBRTBFRDk3RTUzNEYzNUUxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA2RDQ1MkVBNTc4MDExRTJBRTBFRDk3RTUzNEYzNUUxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+ZJ588AAAAL5JREFUeNpi+P//PwMezA/E24HYAiaGT7EAEJ/6DwEfgdganwYhID77HxV8BmJbbIpFgfj8f+xgA7piMSC+jEMxyC+cyIolgPgaDsWbgZgN2Q9SQHwDh+L1MMUwDbJAfAuH4tXIimEa9uFQ/BiI2dEDBUTIA/E9HJqWAzEzugaYs27jcRYrtpiWxuPxdeihREzQbgJpwhbT+CJvDa60hC15fAViZ3ypVRgpAYISnh2h5A3CgkC8F4htYGIAAQYA2wC80kS+8qUAAAAASUVORK5CYII=");
}
body.splash {
    background-color: #000014;
}
#wrap {
    margin: 0;
    padding: 0;
}
.splash #wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 79px;
    left: 0;
    overflow-y: hidden;
}
#beta {
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 66%;
    width: 650px;
    margin-left: 10%;
    color: #fff;
}
#beta.noMedia {
    position: absolute;
    left: 30%;
    top: 30%;
    margin: 0;
}
#beta.withfooterTemplate {
    height: 70%}
#wrap>img.spin, #wrap>video.spin {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wrap>img.spin {
    height: 100%}
.mobile #wrap>img.spin {
    top: 0;
    width: auto;
    height: 100%}
.splashbg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#beta>h1 {
    margin: 20px 30px 0 0;
    font-size: 90px;
    font-weight: 100;
    color: #fff;
    text-align: right;
}
#beta>h3 {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 200;
}
.mobile #beta>h3 {
    font-weight: 400;
}
#beta>p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 200;
}
#beta>h1+p {
    margin-top: 40px;
}
#beta button {
    font-size: 32px;
    font-weight: 100;
    line-height: 2;
    height: auto;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 147px;
}
.windows #beta button {
    font-weight: 200;
}
#beta button.secondary {
    margin-left: 20px;
}
#beta #content>h1 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}
#beta #content>p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
#beta #browsers {
    list-style-type: none;
    margin-left: -16px;
}
#beta #browsers li {
    float: left;
    width: 130px;
    height: 130px;
    margin-right: 30px;
}
#beta #browsers li>a>img {
    width: 100%;
    height: 100%}
.classicnav {
    clear: both;
}
.classicnav a {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}
.classicnav a>i {
    vertical-align: middle;
}
.classicnav a>span {
    vertical-align: middle;
    margin-left: 8px;
}
#footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 19px 50px 0 0;
    background-color: #272727;
    border-top: 1px solid #403F3D;
    height: 59px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
#footer:empty {
    display: none;
}
#footer>a>.myspaceLogo {
    margin-top: 4px;
    margin-right: 20px;
    margin-left: 10%;
    float: left;
}
#footer>p {
    float: left;
    display: none;
}
.leaky #wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.leaky #footer {
    display: none;
}
#footer a:hover {
    color: #ddd;
}
.mobile #footer {
    padding-right: 34px;
    padding-top: 20px;
}
#signup {
    margin-left: -400px;
}
#lightboxCover {
    bottom: 59px;
}
@media all and (max-height: 800px) and (max-width: 1300px) {
    #wrap>#beta {
     height: 80%}
#beta>h1 {
    font-size: 90px;
}
}@media all and (max-width: 950px) {
    #beta.noMedia {
     left: 20%}
}@media all and (max-width: 800px) {
    #beta>h1 {
     font-size: 70px;
}
#footer {
    padding-left: 50px;
}
#beta.noMedia {
    left: 15%}
}@media all and (max-width: 700px) {
    .splash #wrap {
     bottom: 0;
}
#beta.noMedia {
    left: 10%;
    margin: 0 auto;
}
}@media all and (max-width: 600px) {
    #beta>h1 {
     font-size: 50px;
}
}@media all and (max-height: 650px) {
    #beta>h1 {
     font-size: 50px;
}
}@media all and (max-height: 500px) {
    #beta>h1 {
     font-size: 40px;
}
#beta>h3 {
    font-size: 18px;
}
#beta button {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 124px;
}
.classicnav a {
    font-size: 14px;
}
}@media all and (max-height: 400px) {
    #wrap>#beta {
     height: 80%}
}@media all and (max-width: 480px) {
    #wrap>#beta {
     margin-left: 1%;
    width: 80%}
#beta>h1 {
    font-size: 40px;
}
#beta>h3 {
    font-size: 18px;
}
#beta button {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 124px;
}
.classicnav a {
    font-size: 14px;
}
#footer>a>.myspaceLogo {
    margin-left: 1%}
}@media all and (max-width: 400px) {
    #wrap>#beta {
     margin: auto;
    width: 90%;
    left: 0;
    right: 0;
}
}@media all and (min-height: 650px) {
    #wrap>#beta.noMedia {
     top: 40%}
}@media all and (min-height: 850px) {
    #beta: not(.withfooterTemplate) {
     height: 30%}
}@media all and (min-width: 750px) {
    #footer>p {
     display: block;
}
}@media all and (min-width: 1200px) {
    #wrap>#beta {
     width: 870px;
}
#beta>h1 {
    font-size: 125px;
}
}@media all and (max-height: 600px) and (max-width: 650px) {
    body .footerpromo {
     display: none;
}
.featured {
    display: none;
}
.splashbg {
    background-position: right bottom;
}
}@media all and (max-height: 500px) and (max-width: 480px) {
    #wrap>#beta {
     height: 80%}
}@media all and (max-height: 480px) and (orientation: portrait) {
    body {
     height: 415px;
}
}@media all and (max-height: 480px) and (orientation: landscape) {
    body {
     height: 300px;
}
}@media all and (max-width: 480px) and (max-height: 500px) {
    .mobile .splash #wrap {
     top: 50px;
}
.mobile #wrap>img.spin {
    right: -100px;
}
.mobile #lightboxCover {
    bottom: 20px;
}
.mobile #footer {
    top: 0;
    bottom: auto;
    height: 50px;
    padding-top: 15px;
}
}@media all and (max-aspect-ratio: 16/10) {
    #wrap>video.spin {
     height: 100%}
}@media all and (min-aspect-ratio: 16/9) {
    #wrap>video.spin {
     height: auto;
}
}.featured {
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: #fff;
    max-width: 400px;
    text-align: right;
}
.featured.s {
    min-height: 70px;
    padding-right: 85px;
}
.featured.l {
    min-height: 140px;
    padding-right: 155px;
}
.featured.video {
    min-height: none;
    padding-right: 140px;
}
.featured>p {
    white-space: nowrap;
    overflow: hidden;
}
.featured>p:first-of-type {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
.featured.s>p:first-of-type {
    margin-top: 2px;
}
.featured.l>p:first-of-type {
    margin-top: 37px;
}
.featured.video>p:first-of-type {
    margin-top: auto;
}
.featured>p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.featured>p:last-of-type {
    font-size: 18px;
    line-height: 24px;
}
.featured>img {
    position: absolute;
    right: 0;
}